%h2 Add Rap percent to Excel 

= form_tag excel_path, class: 'form-inline', multipart: true do
  = file_field_tag :file, class: 'input-small', accept: '.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
  = submit_tag "Proess file", class:'btn btn-primary'
