%h2 Import Products

= form_tag excel_path, multipart: true do
  = file_field_tag :file, accept: '.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', style: 'display:inline'
  = submit_tag "Modify"
