%h1.hidden-print Price list

- cla = @ranges[:clarity]
- colors = @ranges[:color]
- @ranges[:size].each_slice(3).each do |size_slice|
  .row 
    -size_slice.each do |size|
      - h = Hash.new{|h, k| h[k] = {}}
      - @results.where(size:size).all.each {|d| h[d.color][d.clarity] = d}
      .col-md-4.col-xs-12.print4
        %table.table.table-rap.table-condensed
          %tr
            %td.center{colspan:(cla.size+1)}
              = size.to_size_range
          %tr
            %th
            - cla.each do |c|
              %th= c.upcase
          - colors.each do |col|
            %tr
              %td= col.upcase
              -cla.each do |cla|
                %td= h[col][cla].percentage_with_offset rescue ""

