%h1 Daemons
%dl
  %dt
    Status: 
    = @status
  %dt Actions
  %dd
    -[:start, :stop, :restart].each do |action|
      = link_to action.to_s.titleize, {action: action}, :method => :put
      \|
    = link_to 'Logs', action: :logs

