// Place all the styles related to the Diamonds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loadingBar {
  position: relative;
  left: 10px;
  top: 0px;
}

