.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand RapCrawler
      .nav-collapse.collapse
        %ul.nav
          %li
            = link_to 'Search', diamonds_path
          %li
            = link_to 'Import excel', excel_path
          %li
            = link_to 'Price list', price_path
          %li
            = link_to 'Crawler settings', settings_path

